/* title */
.title {
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  font-family: var(--font-aquire);
  color: var(--primary-color-red);
}

@media (max-width: 480px) {
  .title {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}
