.book {
  margin-bottom: 40px;
}

.freeBook {
  height: 300px;
  background-color: rgba(255, 178, 178, 1);
  border-radius: 30px;
  box-shadow: 8.88px 8.88px 13.33px 0px rgba(0, 0, 0, 0.35);
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 480px) {
  .book {
    margin-bottom: 10px;
  }

  .freeBook {
    height: 200px;
    border-radius: 14px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
}
