.teacher{
  margin-bottom: 40px;
  padding: 10px;
}

/* Title styling */
.titleTeacher {
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: var(--primary-color-red);
}

/* Card styling */
.card {
  display: flex;
  gap: 10px;
  padding-left:40px;
  flex-direction: column;
  margin: 0 auto;
  max-width: 352px;
  height: 350px;
  transform: translateY(-5px);

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.15),
    /* Outer shadow */ inset 0px 5px 10px rgba(255, 0, 0, 0.25); /* Inner shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(255, 0, 0, 0.25),
    /* Slightly deeper outer shadow on hover */ inset 0px 8px 15px
      rgba(255, 0, 0, 0.3); /* Deeper inner shadow on hover */
}


.position{
  max-width: 200px;
}

.imgContent {
  margin-top: 20px;
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(236, 0, 0, 1);
  border: 2px solid rgba(34, 34, 34, 1);
}

/* Image styling within card */
.img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Paragraph styling within card */
.card p {
  font-size: 16px;
  color: #2c3e50;
  margin: 8px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .card {
    width: 280px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  .card {
    width: 240px;
    padding: 10px;
  }
}

