.teacher {
  margin-bottom: 40px;
  padding: 10px;
}

/* Title styling */
.titleTeacher {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

/* Card styling */
.card {
  display: flex;
  gap: 10px;
  padding-left: 40px;
  flex-direction: column;
  margin: 0 auto;
  max-width: 352px;
  height: 380px;
  transform: translateY(-5px);

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.15),
    /* Outer shadow */ inset 0px 5px 10px rgba(255, 0, 0, 0.25); /* Inner shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(255, 0, 0, 0.25),
    /* Slightly deeper outer shadow on hover */ inset 0px 8px 15px
      rgba(255, 0, 0, 0.3); /* Deeper inner shadow on hover */
}

.position {
  max-width: 200px;
}

.imgContent {
  margin-top: 20px;
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(236, 0, 0, 1);
  border: 2px solid rgba(34, 34, 34, 1);
}

/* Image styling within card */
.img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Paragraph styling within card */
.card p {
  font-size: 16px;
  color: #2c3e50;
  margin: 8px 0;
}

@media (max-width: 480px) {
  .teacher {
    margin-bottom: 20px;
  }

  /* Card styling */
  .card {
    display: flex;
    gap: 1px;
    padding: 0;
    max-width: 100px;
    height: 140px;
  }

  .titleTeacher {
    font-size: 12px;
    line-height: 12px;
  }

  .position {
    max-width: 200px;
  }

  .imgContent {
    width: 41px;
    height: 41px;
    border-radius: 100%;
  }

  /* Image styling within card */
  .img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3px;
  }

  /* Paragraph styling within card */
  .card p {
    font-size: 6px;
    color: #2c3e50;
    margin:3px;
  }
}
