

header {
  border-bottom: 0.8px solid rgba(97, 97, 97, 1);
}

.header {
  max-width: 1440px;
  padding: 10px 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.listItem:hover,
.listItem:hover .listLink {
  color: var(--primary-color-red);
}

.btns {
  display: flex;
  align-items: center;
  gap: 50px;
}

.btnLang {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.btnLang img {
  max-width: 39px;
}

.listLink {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--font-aquire);
}

@media (max-width: 480px) {
  .header {
    padding: 10px 24px;
  }

  .headerImg {
    max-width: 124px;
  }

  .listGroup {
    display: none;
  }

  .btns {
    gap: 15px;
  }

  .btnLang img {
    max-width: 20px;
  }
}
