header {
  border-bottom: 0.8px solid rgba(97, 97, 97, 1);
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 50px;
}

.btnLang {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.btnLang img {
  max-width: 39px;
}

.listLink {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--primary-color);
}
