* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*root color */
:root {
  --primary-color: rgba(34, 34, 34, 1);
  --primary-color-red: rgba(236, 0, 0, 1);
  --primary-color-white: rgba(255, 255, 255, 1);
}

:root {
  --font-family: "Aquire", sans-serif;
}

body {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

.container {
  max-width: 1440px;
  padding: 70px 100px;
  margin: 0 auto;
  min-height: 100vh;
}

.splide__pagination {
  bottom: -30px !important;
}

.splide__pagination__page.is-active {
  background-color: rgba(255, 178, 178, 1) !important;
}

.splide__arrow:disabled {
  width: 40px !important;
  height: 40px !important;
  opacity: 1 !important;
  background-color: var(--primary-color-red);
}

.splide__arrow {
  background-color: var(--primary-color-red) !important;
  width: 40px !important;
  height: 40px !important;
}

.splide__arrow svg {
  color: #fff !important;
  fill: #fff !important;
}

.splide__list {
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}

@media (max-width: 768px) {
  .container {
    padding: 40px;
  }

  .splide__arrow:disabled {
    width: 15px !important;
    height: 15px !important;
  }
  .splide__arrow {
    width: 15px !important;
    height: 15px !important;
  }

  .splide__arrow svg {
    width: 8px !important;
    height: 12px !important;
  }
}
